{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <div class="page-header">
        <h2>Hello {{ user.username }}</h2>
    </div>

    <h3><a href="">Update your domain scores</a></h3>

    <h3><a href="">Update your page scores</a></h3>

    <h3><a href="">Delete your scraped websites</a></h3>

    <h3><a href="">Update your password</a></h3>

    <h3><a href="">Delete your account</a></h3>

    <br>

    <h3><a href="{{ url_for('users.logout') }}">Log out</a></h3>

{% endblock %}
