{% extends "bootstrap/base.html" %}

{% block title %}
	<title>Prospector</title>
{% endblock %}

{% block head %}

	<link href="/static/css/site.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}

	<header>
		<h1><a href="{{ url_for('prospector.index') }}">Prospector</a></h1>
	</header>


	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				{% block page_content %}{% endblock %}
			</div>
		</div>
	</div>

{% endblock %}
