<html>
  <head>
    <title>Prospector</title>
    <link href="/static/css/reset.css" rel="stylesheet">
    <link href="/static/css/site.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>

      <h1 class="index">Prospector</h1>

      <div id="mainindex">

	      <form action="" method="post" name="url">
              {{ form.csrf_token }}
		      {{form.url(size=150, class="entryfield", placeholder="http://www.website.co.uk")}}

		      	<input type="submit" value="Prospect" class="btn btn-red" id="crawl">
	      </form>

	      <div id="indexbuttons">
	      	<a class="indexbtn" href="{{ url_for('sitelist') }}">View previously analysed sites</a>
	      </div>

	      {% for error in form.errors.url %}
		      	<span style="color: red;">[{{error}}]</span>
		  {% endfor %}

	      	<div>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			{% endwith %}
			</div>

      </div>
  </body>
</html>
