{% extends "bootstrap/base.html" %}

{% block title %}
    Prospector
{% endblock %}

{% block head %}

    {{ super() }}
    <link href="/static/css/site.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="index">

                <h1>Prospector</h1>

                <form class="form form-horizontal" method="POST" role="form">

                    {{ form.csrf_token }}
                    {{ form.url(size=150, class="form-control", placeholder="http://www.website.co.uk") }}

                    <input type="submit" value="Prospect" class="btn btn-red">

                </form>

                <a href="{{ url_for('prospector.sitelist') }}">View previously analysed sites</a>

                {% for error in form.errors.url %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}

                <div>

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}

                </div>

            </div>

            <div class="index-auth">

                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('users.profile', username = current_user.username) }}">{{ current_user.username }}</a>
                {% else %}
                    <a href="{{ url_for('users.login') }}">Log in</a>
                    <a href="{{ url_for('users.register') }}">Register</a>
                {% endif %}

            </div>

        </div>
      </div>
    </div>

{% endblock %}
