{% extends "bootstrap/base.html" %}

{% block title %}
    Prospector
{% endblock %}

{% block head %}

    {{ super() }}
    <link href="/static/css/site.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="index">

                <h1>Prospector</h1>

                <form class="form form-horizontal" method="POST" role="form">

                    {{ form.csrf_token }}
                    {{ form.url(size=150, class="form-control", placeholder="http://www.website.co.uk") }}

                    <input type="submit" value="Prospect" class="btn btn-red">

                </form>

                <a href="{{ url_for('prospector.sitelist') }}">View previously analysed sites</a>

                {% for error in form.errors.url %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}

                {% with messages = get_flashed_messages(with_categories=true) %}
                  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <!-- <strong>Title</strong> --> {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}

            </div>

            <div class="index-auth footer navbar-fixed-bottom">

                <div class="container text-center">

                    {% if current_user.is_authenticated %}
                        <p>Currently logged in as <a href="{{ url_for('users.profile', username = current_user.username) }}">{{ current_user.username }}</a></p>
                    {% else %}
                        <p>
                            <a href="{{ url_for('users.login') }}">Log in</a> - <a href="{{ url_for('users.register') }}">Register</a>
                        </p>
                    {% endif %}

                </div>

            </div>

        </div>
      </div>
    </div>

{% endblock %}
