{% extends "base.html" %}

{% block content %}

	<div class="main">

		<a class="sitebtn {{ site.level }}" href="{{ url_for('sitelist') }}"> < {{ site.ranking }}% {{ site.domain_url }}</a>

		<div id="domain">

			<table>
				<tr>
					<th>bing anayltics</th>
					{% if site.bing_analytics %}
						<td>present</td>
					{% else %}
						<td class="gray">not present</td>
					{% endif %}
				</tr>

				<tr>
					<th>google anayltics</th>
					{% if site.google_analytics %}
						<td>present</td>
					{% else %}
						<td class="gray">not present</td>
					{% endif %}
				</tr>

				<tr>
					<th>robots.txt</th>
					{% if site.robots %}
						<td>present</td>
					{% else %}
						<td class="gray">not present</td>
					{% endif %}
				</tr>

				<tr>
					<th>sitemap.xml</th>
					{% if site.sitemap %}
						<td>present</td>
					{% else %}
						<td class="gray">not present</td>
					{% endif %}
				</tr>

			</table>
		</div>

		<div id="page">

			{% for currentPage in currentPages.items %}

			<a href="{{ currentPage.page_url }}">
				{{ currentPage.page_url }}
			</a>

			<table>

				<tr>
					<th>title</th>
					{% if currentPage.title %}
						<td>{{ currentPage.title }}</td>
					{% else %}
						<td class="gray">not present</td
					{% endif %}
				</tr>

				<tr>
					<th>h1 tags</th>
					{% if currentPage.h1s %}
						<td>{{ currentPage.h1s }}</td>
					{% else %}
						<td class="gray">not present</td
					{% endif %}
				</tr>

				<tr>
					<th>h2 tags</th>
					{% if currentPage.h2s %}
						<td>{{ currentPage.h2s }}</td>
					{% else %}
						<td class="gray">not present</td
					{% endif %}
				</tr>

				<tr>
					<th>h3 tags</th>
					{% if currentPage.h3s %}
						<td>{{ currentPage.h3s }}</td>
					{% else %}
						<td class="gray">not present</td
					{% endif %}
				</tr>

				<tr>
					<th>alt tags</th>
					{% if currentPage.alt_tags %}
						<td>{{ currentPage.alt_tags }}</td>
					{% else %}
						<td class="gray">not present</td
					{% endif %}
				</tr>

				<tr>
					<th>meta description tags</th>
					{% if currentPage.meta_desc %}
						<td>{{ currentPage.meta_desc }}</td>
					{% else %}
						<td class="gray">not present</td
					{% endif %}
				</tr>

				<tr>
					<th>viewstate</th>
					{% if currentPage.view_state %}
						<td>{{ currentPage.view_state }}</td>
					{% else %}
						<td class="gray">not present</td
					{% endif %}
				</tr>

				<tr>
					<th>pagination</th>
					{% if currentPage.pagination %}
						<td>{{ currentPage.pagination }}</td>
					{% else %}
						<td class="gray">not present</td
					{% endif %}
				</tr>

				<tr>
					<th>iframe</th>
					{% if currentPage.iframe %}
						<td>{{ currentPage.iframe }}</td>
					{% else %}
						<td class="gray">not present</td
					{% endif %}
				</tr>

				<tr>
					<th>flash</th>
					{% if currentPage.flash %}
						<td>{{ currentPage.flash }}</td>
					{% else %}
						<td class="gray">not present</td
					{% endif %}
				</tr>

				<tr>
					<th>no index no follow</th>
					{% if currentPage.no_index_no_follow %}
						<td>{{ currentPage.no_index_no_follow }}</td>
					{% else %}
						<td class="gray">not present</td
					{% endif %}
				</tr>

				<tr>
					<th>schema tag</th>
					{% if currentPage.schema_tag %}
						<td>{{ currentPage.schema_tag }}</td>
					{% else %}
						<td class="gray">not present</td
					{% endif %}
				</tr>

				<tr>
					<th>blog location</th>
					{% if currentPage.blog_location %}
						<td>{{ currentPage.blog_location }}</td>
					{% else %}
						<td class="gray">not present</td
					{% endif %}
				</tr>

				<tr>
					<th>internal links</th>
					{% if currentPage.internal_links_no %}
						<td>{{ currentPage.internal_links_no }}</td>
					{% else %}
						<td class="gray">not present</td
					{% endif %}
				</tr>

				<tr>
					<th>url character length</th>
					<td>{{ currentPage.page_url|length }}</td>
				</tr>

				{% endfor %}
			</table>
		</div>

	<!-- 	NAVIGATION BUTTONS   -->
	{% if currentPages.has_prev %}
		<a class="nav" style="float:left;" href="{{ url_for('siteinspect', site_name = site.site_name, page = currentPages.prev_num) }}">
			<< previous page
		</a>
	{% endif %}


	{% if currentPages.has_next %}
		<a class="nav" style="float:right;" href="{{ url_for('siteinspect', site_name = site.site_name, page = currentPages.next_num) }}">
			next page >>
		</a>
	{% endif %}

	</div>

{% endblock %}
